Django==1.8.18
django-admin-tools==0.8.0
django-extensions==1.7.8
sorl-thumbnail==12.3
djangorestframework==3.6.2
django-compressor==2.1.1
django-modeltranslation==0.12.1
django-haystack==2.6.0
psycopg2==2.7.1
django-autoslug==1.9.3
Pillow==4.1.0
django-mobi==0.1.7
python-memcached==1.58
pysolr==3.6.0
ujson==1.35
pytz==2017.2
uWSGI=2.0.15